body{
    background-color: chocolate;
}
#addName{
    width: 350px;
    height: 40px;
    border: 2px solid black;
}
#div2{
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    background-color: coral;
    
}
#AddNameToArray{
    border: 2px solid black;
    height: 40px;
    width: 150px;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
    
}
#DisplayNames{
    margin-top: 30px;
    border: 2px solid black;
    height: 40px;
    width: 350px;
    background-color: cornflowerblue;
    color: cornsilk;
}
#DelDupName{
    border: 2px solid black;
    height: 40px;
    width: 150px;
    background-color: cornflowerblue;
    color: cornsilk;
}