body{
    font-size: 30px;
    background-color: #19e4e4;
}
#h11{
    text-align: center;
    border: 2px solid white;
    
}
#div1{
    border: 3px solid black;
    margin-top: 100px;
    padding-bottom: 500px;
    margin-left: 300px;
    margin-right: 300px;
}
#fromDate{
    margin-left: 20px;
}
#toDate{
    margin-left: 38px;
    margin-top: 20px;
}
#btn1{
    margin-left: 20px;
    margin-top: 50px;
}
#output1,#output2,#output3{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 3px 3px cornsilk;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(194, 118, 31);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .button1 {
    background-color: rgb(236, 133, 15); 
    color: black; 
    border: 2px solid #008CBA;
  }
  
 
/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    
}